body {
    background-color: rgb(149, 218, 195);
}
header {
    background-color: rgb(207, 228, 221);
    text-align: center;
}
    header h1 {
        text-align: initial;
}
 img {
width: 350px;
height: 350px;
justify-content: flex-start;
}
p {
    text-align: center;
}




