body {
    background-color: rgb(149, 218, 195);
    text-align: center;    
}
header {
    background-color: rgb(207, 228, 221);
    text-align: center;
}

 /* Botones */
 .contenedor-vertical  {
    width: 100%;             
    max-width: 500px;        
    margin-left: auto;       
    margin-right: auto;      

 }
